# Python
__pycache__/
.venv/

# Docker
*.log

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# ===== SSH keys / credentials (NEVER COMMIT) =====
*.pem
*.ppk
*.key

# Keys folder (추천: keys/ 에 보관한다면)
keys/